
.wrapper-card{
    background-color: #000;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 660px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
}
.subtitle{
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

