
.content-kids h1{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
.content-kids p{
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}
.kindCoffee{
    width: 20%;
    align-content: space-between;
}